<h1>Today concerts</h1>

<ul>
<% @concerts.each do |concert| %>
	<li><%= link_to(concert.band, concert_path(concert)) %></a> - <%= concert.description %></li>
<% end %>
<%= link_to("New concert", new_concert_path) %>
</ul>