<!DOCTYPE html>
<html>
<head>
  <title>MCN</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1 class="main-title">MCN</h1>
	</header>
<%= yield %>
	<footer>
			<p class="footer-text">By Ángel Villalba</p>
	</footer>
</body>
</html>
